.price-list {
	min-height: 300px;
	padding: 60px 0;
	background-color: $main_color_sea;

	&__subtitle {
		margin-bottom: 20px;
		&:before {
			transform: translateX(30%);
		}
	}

	&__wrapper {
		margin: 60px 50px 0 50px;
		display: grid;
		grid-template-columns: repeat(2, 500px);
		grid-template-rows: repeat(3, minmax(45px, auto));
		grid-auto-rows: minmax(45px, auto);
		justify-content: space-between;
		align-content: space-between;
		row-gap: 15px;
	}

	&-item {

		&__head {
			display: flex;
			justify-content: space-between;
		}

		&__title {
			font-weight: 600;
			font-size: 15px;
			position: relative;
			z-index: 1;

			@include before_circle;
			&:before {
				width: 20px;
				height: 20px;
				top: 50%;
				transform: translateY(-40%);
				left: -30px;
			}
		}

		&__price {
			font-weight: 700;
			font-size: 15px;
		}

		&__text {
			font-weight: 400;
			font-size: 14px;
		}
	}
}