.about-me {
	min-height: 600px;
	background-color: $main_color_sea;
	padding: 120px 0 60px 0;

	.divider {
		margin: 10px 0 0;
	}

	&__block {
		display: grid;
		grid-template-columns: 1fr 2fr;
		grid-template-rows: repeat(2, minmax(250px, auto));
		grid-template-areas:
		"photo about-me"
		"photo spheres";
	}

	&__main-img {
		grid-area: photo;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__description {
		grid-area: about-me;
		padding-left: 68px;
		min-height: 230px;
	}

	&__subtitle {
		margin-left: 12px;
		text-align: left;

		&:before {
			top: -6px;
			left: -12px;
			transform: none;
		}
	}

	&__title {
		text-align: left;
		margin-top: 10px;
	}

	&__text {
		margin-top: 20px;
		font-weight: 400;
		font-size: 15px;
	}

	&__spheres {
		grid-area: spheres;
		padding-left: 68px;
		margin-top: 30px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: flex-start;
	}

	&-sphere {
		position: relative;
		z-index: 1;
		width: 330px;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;

		&__icon {
			display: block;
			width: 50px;
			@include before_circle;
			&:before {
				top: -7px;
				left: -4px;
			}

			svg path {
				&:hover {
					transition: fill 0.5s;
					fill: $main_color_dark_green;
				}
			}
		}

		&__description {
			margin-left: 25px;
			margin-bottom: 40px;
		}

		&__title {
			font-weight: 600;
			font-size: 16px;
		}

		&__text {
			margin-top: 10px;
			font-weight: 400;
		}
	}
}