.title {
	font-weight: 700;
	font-size: 36px;
	line-height: 125%;
	color: $color_black;

	&_fz12 {
		font-size: 12px;
	}

	&_fz14 {
		font-size: 14px;
	}

	&_fz16 {
		font-size: 16px;
	}

	&_fz20 {
		font-size: 20px;
	}

	&_fz22 {
		font-size: 22px;
	}

	&_fz24 {
		font-size: 24px;
	}

	&_fz36 {
		font-size: 36px;
	}

	&_fz48 {
		font-size: 48px;
	}

	&_fw600 {
		font-weight: 600;
	}

	&_fw500 {
		font-weight: 500;
	}

	&_fw400 {
		font-weight: 400;
	}

	&_section-subtitle {
		position: relative;
		z-index: 1;
		text-align: center;

		@include before_circle;
		&:before {
			top: -7px;
			left: 50%;
			transform: translateX(-50%);
		}

		span {
			color: $main_color_sea;
		}
	}

	&_section-title {
		text-align: center;
		margin-top: 10px;
	}
}