.title {
	font-weight: 700;
	font-size: 36px;
	line-height: 125%;
	color: $color_black;

	&_fz14 {
		font-size: 14px;
	}

	&_fz16 {
		font-size: 16px;
	}

	&_fz20 {
		font-size: 20px;
	}

	&_fz22 {
		font-size: 22px;
	}

	&_fz24 {
		font-size: 24px;
	}

	&_fz36 {
		font-size: 36px;
	}

	&_fz48 {
		font-size: 48px;
	}
}